* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    background-color: #f4f4f4;
}

.right-side {
    height: 400px;
    background: #fff;
    margin-left: 2%;
    width: 28%;
    padding: 15px;
}

.left-side {
    height: 400px;
    background: #fff;
    width: 70%;
}

.bg-light {
    background: #fff !important;
}

.header-main {
    padding: 20px 30px;
    background-color: #fff;
    margin-bottom: 2%;
}

* {
    font-family: 'Noto Kufi Arabic';
}

a {
    font-size: 20px;
    font-weight: 500;
    color: rgb(63, 63, 63);
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Noto Kufi Arabic';

}

a:hover {
    text-decoration: none;
    background-color: #f4f4f4;
    color: rgb(0, 0, 0);

}

.col-md-4, .col-md-7 {
    margin-bottom: 10px;
}

.container {
    max-width: 100%;
}

.title {
    font-family: 'Noto Kufi Arabic';
    font-size: 20px;
    font-weight: 500;
}

body {
    padding: 2% 5%;
}